<app-loading *ngIf="loading"></app-loading>
<div class="custom-container">
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <div class="login-logo-container">
        <img src="../../assets/dist/img/logo.png" class="login-logo">
      </div>
      <div class="form-group">
        <label>Usuário *</label>
        <input type="text" class="form-control" [(ngModel)]="login.userName">
      </div>
      <div class="form-group">
        <label>Senha *</label>
        <input type="password" class="form-control" [(ngModel)]="login.password">
      </div>
      <button class="btn btn-primary login-button buttom" (click)="toLogin()">Login</button>
    </div>
    <div class="col-md"></div>
  </div>
</div>