.buttom {
    background-color: #464340;
    border: 1px solid #f8f8f8;
    box-shadow: 2px 2px #f8f8f8;
    color: white;
    border-radius: 3px;
}

h6 {
    margin: 8px 0;
}

.border {
    border-width: thin;
    border-style: solid;
    border-color: #464340;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 15px;
}

.buttomNew {
    background-color: #464340;
    border: 1px solid #f8f8f8;
    box-shadow: 2px 2px #f8f8f8;
    color: white;
    border-radius: 3px;
    position: relative;
    top: 28px;
}